main{
  width: 90%;
  margin: auto;
  padding: 20px 15px;

  .banners{
    display: flex;
    align-items: center;

    app-carousel {
      width: 99%;
      height: 200px;
    
    }
    div{
      width: 26%;
      height: 100%;
      margin-right: 10px;
      img{
        height: 200px;
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}

